{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load admin_urls %}

{% block copyright-notices %}
    <!--
         Project: Django NetScanner
     Description: A Django application to make network scans
          Author: Fabio Castelli (Muflone) <muflone@muflone.com>
       Copyright: 2019 Fabio Castelli
         License: GPL-3+
    -->
{% endblock %}

{% block object-tools %}
    <div>
      <ul class="object-tools">
        <li><a href="create/" class="addlink">{% trans 'New Discoveries for subnets' context 'NetScanner' %}</a></li>
  {% url cl.opts|admin_urlname:'add' as add_url %}
        <li><a href="{% add_preserved_filters add_url is_popup %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
      </ul>
    </div>
{% endblock %}
