{% extends 'netscanner/site/base.html' %}
{% load static %}

{% block content %}
		  	<div class="row content-box-large">
              <div class="panel-heading">
                <div class="panel-title">{{ subnet.name }}</div>
              </div>
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Address</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Brand</th>
                      <th>Model</th>
                      <th>Operating System</th>
                      <th>MAC Address</th>
                      <th>Serial #</th>
                      <th>TeamViewer ID</th>
                      <th>Verification</th>
                    </tr>
                  </thead>
                  <tbody>
{% for address, host in hosts.items %}
                    <tr>
                      <td class="host_address">{{ address }}</td>
                      <td class="host_name">{{ host.name|default:'-' }}</td>
                      <td class="host_location">
                        <div class="host_location"
                             data-area="{{ host.area }}"
                             data-position="{{ host.position }}">
                             {{ host.location|default:'-' }}</div>
                      </td>
                      <td class="host_type">{{ host.device_model.device_type|default:'-' }}</td>
                      <td class="host_brand">{{ host.brand_thumbnail|default:'-' }}</td>
                      <td class="host_model">
  {% if host.device_model.image.name %}
                        <a class="host_device_model" href="{{ host.device_model.image.url }}">{{ host.device_model }}</a>
  {% else %}
      {{ host.device_model|default:'-' }}
  {% endif %}
                      </td>
                      <td class="host_os">{{ host.os|default:'-' }}</td>
                      <td class="host_mac_address">{{ host.mac_address|default:'-' }}</td>
                      <td class="host_serial">{{ host.serial|default:'-' }}</td>
                      <td class="host_teamviewer_id">{{ host.teamviewer_id|default:'-' }}</td>
                      <td class="host_verification">{{ host.verification|default:'-' }}</td>
                    </tr>
{% endfor %}
                  </tbody>
                </table>
            </div>
{% endblock %}

{% block footer_end %}
    <style>
      td.host_address,
      td.host_name,
      td.host_type,
      td.host_brand,
      td.host_mac_address,
      td.host_serial,
      td.host_teamviewer_id {
        white-space: nowrap;
      }

      td.host_location,
      td.host_model,
      td.host_os,
      td.host_verification {
        white-space: normal;
      }

      img.host_device_model {
        max-width: 300px;
        max-height: 300px;
      }

      .popover{
        max-width: 600px;
      }
    </style>

    <script language="JavaScript">
      // Add Popover for model images
      $('a[class=host_device_model]').popover({
        html: true,
        trigger: 'hover',
        placement: 'bottom',
        content: function(){
          var result = '';
          result += '<div><strong>Model:</strong> ' + $(this).text().trim() + '</div>';
          result += '<div><img class="host_device_model" src="' + this.href + '" /></div>';
          return result;
        }
      });
      // Add Popover for model images
      $('div[class=host_location]').popover({
        html: true,
        trigger: 'hover',
        placement: 'auto',
        content: function(){
          var result = '';
          if ($(this).text().trim() != '-') {
              result += '<div><strong>Location:</strong> ' + $(this).text().trim() + '</div>';
          }
          if ($(this).data('area')) {
              result += '<div><strong>Area:</strong> ' + $(this).data('area') + '</div>';
          }
          if ($(this).data('position')) {
              result += '<div><strong>Position:</strong> ' + $(this).data('position') + '</div>';
          }
          return result;
        }
      });
    </script>
{% endblock %}
